#@ /etc/strongswan/ipsec.secrets (Centos) or /etc/ipsec.secrets (Ubuntu)

{{ ansible_default_ipv4.address }} {{ vpn_conns[0]['vpn_gateway']['tunnel_outside_address']['ip_address'] }} : PSK {{ vpn_conns[0]['ike']['pre_shared_key'] }}
{{ ansible_default_ipv4.address }} {{ vpn_conns[1]['vpn_gateway']['tunnel_outside_address']['ip_address'] }} : PSK {{ vpn_conns[1]['ike']['pre_shared_key'] }}
