#@ /etc/strongswan/ipsec.conf (Centos) or /etc/ipsec.conf (Ubuntu)

# ipsec.conf - strongSwan IPsec configuration file

# basic configuration

config setup
       charondebug="cfg 2, ike 3"
#      strictcrlpolicy=yes
#      uniqueids = no

# Add connections here.

# Sample VPN connections

#conn sample-self-signed
#      leftsubnet=10.1.0.0/16
#      leftcert=selfCert.der
#      leftsendcert=never
#      right=192.168.0.2
#      rightsubnet=10.2.0.0/16
#      rightcert=peerCert.der
#      auto=start

#conn sample-with-ca-cert
#      leftsubnet=10.1.0.0/16
#      leftcert=myCert.pem
#      right=192.168.0.2
#      rightsubnet=10.2.0.0/16
#      rightid="C=CH, O=Linux strongSwan CN=peer name"
#      auto=start


# Usage Instructions:
# Adjust the below according to the Generic Gateway Configuration file provided to you by AWS.
# Sample: http://docs.aws.amazon.com/AmazonVPC/latest/NetworkAdminGuide/GenericConfig.html

conn %default
	# Authentication Method    : Pre-Shared Key
	#authby=psk
	leftauth=psk
	rightauth=psk
	# Encryption Algorithm     : aes-128-cbc
	# Authentication Algorithm : sha1
	# Perfect Forward Secrecy  : Diffie-Hellman Group 2
	ike=aes256-sha256-modp2048s256,aes128-sha1-modp1024!
	# Lifetime                 : 28800 seconds
	ikelifetime=28800s
	# Phase 1 Negotiation Mode : main
	aggressive=no
	# Protocol                 : esp
	# Encryption Algorithm     : aes-128-cbc
	# Authentication Algorithm : hmac-sha1-96
	# Perfect Forward Secrecy  : Diffie-Hellman Group 2
	esp=aes128-sha256-modp2048s256,aes128-sha1-modp1024!
	# Lifetime                 : 3600 seconds
	lifetime=3600s
	# Mode                     : tunnel
	type=tunnel
	# DPD Interval             : 10
	dpddelay=10s
	# DPD Retries              : 3
	dpdtimeout=30s
	# Tuning Parameters for AWS Virtual Private Gateway:
	keyexchange=ikev1
	#keyingtries=%forever
	rekey=yes
	reauth=no
	dpdaction=restart
	closeaction=restart
	left=%defaultroute
	leftsubnet=0.0.0.0/0,::/0
	rightsubnet=0.0.0.0/0,::/0
	leftupdown=/etc/strongswan.d/ipsec-vti.sh
	installpolicy=yes
	compress=no
	mobike=no

conn AWS-VPC-GW1
	# Customer Gateway:        : <Your Strongswan-CGW Public IP>
	left={{ ansible_default_ipv4.address }}
	# Virtual Private Gateway  : <Your VGW1 Outside IP>
	right={{ vpn_conns[0]['vpn_gateway']['tunnel_outside_address']['ip_address'] }}
	auto=start
	mark=100
	#reqid=1

conn AWS-VPC-GW2
	# Customer Gateway:        : <Your Strongswan-CGW Public IP>
	left={{ ansible_default_ipv4.address }}
	# Virtual Private Gateway  : <Your VGW2 Outside IP>
	right={{ vpn_conns[1]['vpn_gateway']['tunnel_outside_address']['ip_address'] }}
	auto=start
	mark=200
	#reqid=2

# References:
# http://docs.aws.amazon.com/AmazonVPC/latest/NetworkAdminGuide/Introduction.html
# http://end.re/2015-01-06_vti-tunnel-interface-with-strongswan.html
# https://www-01.ibm.com/support/knowledgecenter/#!/SST55W_4.3.0/liaca/liaca_cfg_ipsec_vti.html
# https://aravindkrishnaswamy.wordpress.com/tag/multiple-vpn-tunnels-with-strongswan/
# https://aravindkrishnaswamy.wordpress.com/2014/11/26/site-to-site-vpn-between-openvpn-and-aws/
# http://www.mynameistoby.com/blog/2015/01/21/setting-up-strongswan-on-centos-6-to-connect-to-your-amazon-vpc-vpn/
# https://wiki.strongswan.org/projects/strongswan/wiki/ConnSection
# https://wiki.strongswan.org/projects/strongswan/wiki/IKEv2CipherSuites
