#@ /etc/quagga/bgpd.conf (Centos & Ubuntu)

hostname {{ ansible_hostname }}
password password123
enable password password123
!
log file /var/log/quagga/bgpd
debug bgp events
debug bgp zebra
debug bgp updates
!
router bgp {{ vpn_conns[0]['customer_gateway']['bgp']['asn'] }}
  bgp router-id {{ ansible_default_ipv4.address }}
  #network <Your internal LAN subnet - e.g. 10.130.0.0/16>
  # not specificing a cidr len here as ansible does not make it convienent.
  # It seems to default to the classful for the prefix
  network {{ ansible_default_ipv4.address }}
  !network 169.254.x.x/32
  !network 169.254.x.x/32
  !
  ! aws tunnel #1 neighbour
  neighbor {{ vpn_conns[0]['vpn_gateway']['tunnel_inside_address']['ip_address'] }} remote-as {{ vpn_conns[0]['vpn_gateway']['bgp']['asn'] }}
  !
  ! aws tunnel #2 neighbour
  #neighbor <Your VGW2 Inside IP> remote-as 17493
  neighbor {{ vpn_conns[1]['vpn_gateway']['tunnel_inside_address']['ip_address'] }} remote-as {{ vpn_conns[1]['vpn_gateway']['bgp']['asn'] }}
  !
  ! Uncomment the line below if you prefer to use 'Connection B' as your backup (Connection A will # be used as your primary for all traffic). By default if you do not uncomment the next lines, traffic can #be sent and received down both of your connections at any time (asymmetric routing).
  !neighbor <Your VGW2 Inside IP> route-map RM_LOWER_PRIORITY out
  neighbor {{ vpn_conns[1]['vpn_gateway']['tunnel_inside_address']['ip_address'] }} route-map RM_LOWER_PRIORITY out
!
route-map RM_LOWER_PRIORITY permit 10
  !set as-path prepend <Your Customer Gateway ASN> <Your Customer Gateway ASN> <Your Customer Gateway ASN>
  set as-path prepend {{ vpn_conns[0]['customer_gateway']['bgp']['asn'] }} {{ vpn_conns[0]['customer_gateway']['bgp']['asn'] }} {{ vpn_conns[0]['customer_gateway']['bgp']['asn'] }}
!
line vty


# LEGEND
# https://s3-us-west-2.amazonaws.com/youtubetutorials/racoon_config.txt
#
# <Your Customer Gateway ASN> is the local autonomous system (Customer Gateway ASN)
# 17493 is the remote autonomous system of AWS (Virtual Private  Gateway ASN)
#
# <Your VGW1 Inside IP> is the 169.x address on the REMOTE side of the first peer. (Neighbor IP Address)
# <Your VGW2 Inside IP> is the 169.x address on the REMOTE side of the second peer. (Neighbor IP Address)
#
# <Your internal LAN subnet - e.g. 10.0.0.0/16> is the local private subnet/LAN (Private Network Subnet)
# 169.254.x.x/32 is the 169.x address on LOCAL side of the first peer. Use /32
# 169.254.x.x/32 is the 169.x address on the LOCAL side of the second peer. Use /32
